@using Hotel_Management.Models
@using System.Globalization
@model Room

<div class="room-item">
    <img src="@Model.Image" alt="" style="width:100%;height:240px;object-fit:cover;display:block;">
    <div class="ri-text">
        <h4>@Model.RoomNumber</h4>
        <h3>@String.Format("{0:N0} VNĐ", Model.Price)<span>/Đêm</span></h3>
        <table>
            <tbody>
                <tr>
                    <td class="r-o">Type:</td>
                    <td>@Model.Type</td>
                </tr>
                <tr>
                    <td class="r-o">Dung tích:</td>
                    <td>Tối đa @Model.Capacity người</td>
                </tr>
                <tr>
                    <td class="r-o">Status:</td>
                    <td>@Model.Status</td>
                </tr>
            </tbody>
        </table>
        <a asp-page="/Rooms/Detail" asp-route-id="@Model.Id" class="primary-btn">Tìm hiểu thêm</a>
    </div>
</div>