@page "/danh-sach-phong"
@model Hotel_Management.Rooms.Pages.IndexModel
@{
	ViewData["Title"] = "Room";
}

<!-- Rooms Section Begin -->
<section class="rooms-section spad">
	<div class="container">
		<form method="get" asp-page="/Rooms/Index">
			<label for="status" class="form-label">Trạng thái:</label>
			<div class="mb-3">
				<select id="status" name="Status" class="form-select">
					<option value="" disabled selected>Tất cả</option>
					<option value="Available">Còn trống</option>
					<option value="Occupied">Đang sử dụng</option>
					<option value="Maintenance">Bảo trì</option>
				</select>
				<button type="submit" class="btn btn-primary" style="margin-left: 25px">Lọc</button>
			</div>
		</form>
		<div class="row">
			<!-- Lọc theo status -->

			@if (Model.Rooms.Count == 0)
			{
				<div class="col-lg-12 text-center">
					<h3>Không có phòng nào</h3>
				</div>
			}
			else
			{
				@foreach (var room in Model.Rooms)
				{
					<div class="col-lg-4 col-md-6">
						<partial name="_RoomPartial" model="room" />
					</div>
				}

				<div class="col-lg-12">
					<div class="room-pagination">
						@if (Model.Rooms.HasPreviousPage)
						{
							<a class="page-link"
							   asp-page="/Rooms/Index" asp-route-PageIndex="@Model.PageIndex - 1" asp-route-Status="@Model.Status"
							   aria-label="Previous">
								<i class="fa fa-long-arrow-left"></i>
							</a>
						}

						@for (int i = 1; i <= Model.Rooms.TotalPages; i++)
						{
							<a class="page-item @(Model.PageIndex == i ? "active" : "")"
							   asp-page="/Rooms/Index" asp-route-PageIndex="@i" asp-route-Status="@Model.Status">
								@i
							</a>
						}

						@if (Model.Rooms.HasNextPage)
						{
							<a class="page-link"
							   asp-page="/Rooms/Index" asp-route-PageIndex="@Model.PageIndex + 1" asp-route-Status="@Model.Status"
							   aria-label="Next">
								<i class="fa fa-long-arrow-right"></i>
							</a>
						}
					</div>
				</div>
			}
        </div>
    </div>
</section>
<!-- Rooms Section End -->
