@page
@using Hotel_Management.Services.Interfaces
@using Hotel_Management.Areas.Admin.Services.Interfaces
@using Hotel_Management.Models
@model IndexModel
@inject IHotelservicesService HotelservicesService
@inject IHotelfacilitiesServices HotelfacilitiesServices
@inject IRoomsService RoomsService
@inject IReviewsService ReviewsService
@{
    ViewData["Title"] = "Home";

    var hotelServices = HotelservicesService.GetAllHotelServicesAsync().Result;
	var hotelFacilities = HotelfacilitiesServices.GetAllAsync().Result;
    var rooms = RoomsService.GetAllRoomsAsync("", 1, 4).Result;
    var reviews = ReviewsService.GetAllAsync(1).Result;
}

<!-- Hero Section Begin -->
<section class="hero-section">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="hero-text">
                    <h1>Sona Hotel</h1>
                    <p>
                        Trải nghiệm sự kết hợp hoàn hảo giữa sang trọng, thoải mái và sự hiếu khách. Đặt phòng ngay
                        hôm nay và khám phá lý do tại sao Sona Hotel là điểm đến tối ưu cho những du khách
                        đang tìm kiếm trải nghiệm khó quên.
                    </p>
                    <a asp-page="/Rooms/Index" class="primary-btn">Khám phá ngay</a>
                </div>
            </div>
        </div>
    </div>
    <div class="hero-slider owl-carousel">
        <div class="hs-item set-bg" data-setbg="@Url.Content("~/images/client/hero/hero-1.jpg")"></div>
        <div class="hs-item set-bg" data-setbg="@Url.Content("~/images/client/hero/hero-2.jpg")"></div>
        <div class="hs-item set-bg" data-setbg="@Url.Content("~/images/client/hero/hero-3.jpg")"></div>
    </div>
</section>
<!-- Hero Section End -->

<!-- About Us Section Begin -->
<section class="aboutus-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-6">
                <div class="about-text">
                    <div class="section-title">
                        <span>Về chúng tôi</span>
                        <h2>Tầm Nhìn và Sứ Mệnh <br />Sona Hotel</h2>
                    </div>
                    <p class="f-para">
                        Tại Sona A Luxury Hotel, chúng tôi tin rằng mỗi khách hàng đều xứng đáng nhận
                        được những điều tốt đẹp nhất. Sự hài lòng của bạn là động lực thúc đẩy chúng tôi không ngừng
                        cải tiến và nâng cao chất lượng dịch vụ. Chúng tôi cam kết cung cấp những trải nghiệm độc
                        đáo, không chỉ đáp ứng mà còn vượt qua mong đợi của bạn.
                    </p>
                </div>
            </div>
            <div class="col-lg-6">
                <div class="about-pic">
                    <div class="row">
                        <div class="col-sm-6">
                            <img src="~/images/client/about/about-1.jpg" alt="">
                        </div>
                        <div class="col-sm-6">
                            <img src="~/images/client/about/about-2.jpg" alt="">
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
<!-- About Us Section End -->

<!-- Services Section End -->
<section class="services-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Chúng tôi làm gì</span>
                    <h2>Khám phá dịch vụ của chúng tôi</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @if (hotelServices != null && hotelServices.Any())
            {
                foreach (var service in hotelServices)
                {
                    <div class="col-lg-4 col-sm-6">
                        <div class="service-item">
                            <i class="fa-solid fa-route fa-3x"></i>
                            <h4>@service.Name</h4>
                            <p>@service.Description</p>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-lg-12">
                    <p>Khách sạn hiện không có dịch vụ nào. Có thể chúng tôi sẽ cập nhật trong tương lai.</p>
                </div>
            }
        </div>
    </div>
</section>
<!-- Services Section End -->

<!-- Facilities Section Begin -->
<section class="services-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Chúng tôi có gì</span>
					<h2>Khám phá tiện nghi của chúng tôi</h2>
                </div>
            </div>
        </div>
        <div class="row">
            @if (hotelFacilities != null && hotelFacilities.Any())
            {
                foreach (var hotelfacility in hotelFacilities)
                {
                    <div class="col-lg-4 col-sm-6">
                        <div class="service-item">
							<i class="fa-solid fa-building fa-3x"></i>
                            <h4>@hotelfacility.FacilityName</h4>
                        </div>
                    </div>
                }
            }
            else
            {
                <div class="col-lg-12">
					<p>Khách sạn hiện chưa có tiện nghi nào. Có thể chúng tôi sẽ cập nhật trong tương lai.</p>
                </div>
            }
        </div>
    </div>
</section>
<!-- Facilities Section End -->

<!-- Home Room Section Begin -->
<section class="hp-room-section">
    <div class="container-fluid">
        <div class="hp-room-items">
            <div class="row">
                @foreach (var room in rooms)
                {
                    <div class="col-lg-3 col-md-6">
                        <div class="hp-room-item set-bg" data-setbg="@Url.Content(room.Image)">
                            <div class="hr-text">
                                <h3>Phòng: @room.RoomNumber</h3>
                                <h2>@String.Format("{0:N0} VNĐ", @room.Price)<span>/Đêm</span></h2>
                                <table>
                                    <tbody>
                                        <tr>
                                            <td class="r-o">Type:</td>
                                            <td>@room.Type</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Dung tích:</td>
                                            <td>Tối đa @room.Capacity người</td>
                                        </tr>
                                        <tr>
                                            <td class="r-o">Status:</td>
                                            <td>@room.Status</td>
                                        </tr>
                                    </tbody>
                                </table>
                                <a asp-page="/Rooms/Detail" asp-route-id="@room.Id" class="primary-btn">Tìm hiểu thêm</a>
                            </div>
                        </div>
                    </div>
                }
            </div>
        </div>
    </div>
</section>
<!-- Home Room Section End -->

<!-- Testimonial Section Begin -->
<section class="testimonial-section spad">
    <div class="container">
        <div class="row">
            <div class="col-lg-12">
                <div class="section-title">
                    <span>Lời chứng thực</span>
                    <h2>Khách hàng nói gì ?</h2>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-lg-8 offset-lg-2">
                <div class="testimonial-slider owl-carousel">
                    @foreach (var review in reviews)
                    {
                        <div class="ts-item">
                            <p>
                                @review.Comment
                            </p>
                            <div class="ti-author">
                                <div class="rating">
									@for (int i = 1; i <= 5; i++)
									{
										if (i <= review.Rating)
										{
											<i class="icon_star"></i>
										}
										else
										{
											<i class="icon_star_alt"></i>
										}
									}
                                </div>
                                <h5>@review.User.UserName</h5>
                            </div>
                            <img src="~/images/client/testimonial-logo.png" alt="">
                        </div>
                    }
                </div>
            </div>
        </div>
    </div>
</section>
<!-- Testimonial Section End -->
